/* ------------------------------------------------------------------------------------------------ */

/* --- --- -- COLORS -- --- --- */

$color-topBar: #111116;
$color-game: #fd829f;
$color-game-2: #b5d3ff38;
$color-rose: #ff577f;
$color-title: #cafabb;
$color-purple: #333456b2;
$color-turquoise: #a4ebf3;
$color-yellow: #ffefa1;
$color-font: #f8fffb;
$color-grey: #F4F8FD;

/* ------------------------------------------------------------------------------------------------ */
