/* ------------------------------------------------------------------------------------------------ */

/* --- --- -- COLORS -- --- --- */

$color-topBar: #0e2342;
$color-game: #09265193;
$color-rose: #ff577f;
$color-title: #b2fa9c;
$color-purple: #333456;
$color-turquoise: #a4ebf3;
$color-yellow: #ffefa1;
$color-font: #f8fffb;
$color-grey: #F4F8FD;
$color-shadow: 0 0 13px 0 rgba(185, 185, 185, 0.25);

/* ------------------------------------------------------------------------------------------------ */
