@import "colors";
@import "tippyTheme";
@import "global";
@import "header";
@import "footer";

/* ------------------------------------------------------------------------------------------------ */

/* --- --- -- GAME BOARD -- --- --- */

.Play-section {
  border-top: 1.5px dashed $color-title;
  border-bottom: 1.5px dashed $color-title;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  width: 70%;
  margin-top: 30px;
  justify-content: space-around;
  align-items: center;
}

.container--gameboard {
  @extend %flex;
  justify-content: center;
  border-radius: 10px;
}

.gameboard--card {
  @extend %flex;
  width: 300px;
  height: 370px;
  margin: 10px;
  justify-content: space-between;
  flex-direction: column;
  background-color: $color-font;
  border-radius: 11px;
  padding: 10px;
  box-sizing: border-box;
}

.card-grid {
  display: grid;
  width: 95%;
  height: 80%;
  grid-template-columns: repeat(4, 1fr);
}

/* ------------------------------------------------------------------------------------------------ */

/* --- --- -- CONTROLS -- --- --- */

.card-controls {
  @extend %flex;
  width: 90%;
  height: 50%;
  justify-content: space-around;
  transform: rotate(-2deg);
  path {
    fill: $color-rose;
  }
  svg {
    width: 70px;
  }
}

.controls-circle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  transform: rotate(-25deg);
  gap: 35px;
  path {
    fill: $color-turquoise;
  }
  svg {
    width: 30px;
  }
}

/* ------------------------------------------------------------------------------------------------ */

/* --- --- -- COLORS -- --- --- */

.blue {
  background: #36b5b0;
}

.blue.light {
  background: #45e2dd;
}

.rose {
  background: #ff8ba7;
}

.rose.light {
  background: #fdbccc;
}

.yellow {
  background: #fcdf5f;
}

.yellow.light {
  background: #f1e5ad;
}

.green {
  background: #7fcd91;
}

.green.light {
  background: #9cfab2;
}

/* ------------------------------------------------------------------------------------------------ */

/* --- --- -- MENU -- --- --- */

.gameMenu {
  @extend %flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 6px;
  width: 300px;
  height: 370px;
}

.menu--title {
  font-family: "Train One", cursive;
  font-size: 50px;
  @extend %neon;
  letter-spacing: 5px;
}

.score__container {
  @extend %flex;
  justify-content: center;
  flex-direction: column;
}

.menu--score,
#score {
  font-family: "Train One", cursive;
  color: $color-title;
  font-size: 25px;
  letter-spacing: 7px;
}

#score {
  font-weight: bold;
  font-size: 35px;
}

.btn-start {
  width: 80%;
  height: 50px;
  background: none;
  color: $color-title;
  border-radius: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  border: 2px solid $color-rose;
  outline: none;
  cursor: pointer;
}

.btn-start:hover {
  background: $color-rose;
  color: $color-font;
}

/* ------------------------------------------------------------------------------------------------ */

/* --- --- -- RESPONSIVE DESIGN -- --- --- */

@media only screen and (max-width: 1000px) {
  .Play-section {
    width: 80%;
  }
}

@media only screen and (max-width: 835px) {
  .Play-section {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    border: none;
    padding: 0;
    margin-bottom: 0;
    height: 600px;
  }

  .card-grid {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .gameMenu {
    width: 340px;
    height: 100px;
  }

  .menu--title {
    display: none;
  }

  .score__container {
    flex-direction: row;
    gap: 15px;
  }

  .menu--score,
  #score {
    margin: 15px 0 5px 0;
    color: $color-title;
    font-size: 20px;
  }

  .btn-start {
    width: 100%;
  }

  .footer {
    position: relative;
  }

  .footer-text {
    justify-content: center;
    align-items: center;
  }
}

/* ------------------------------------------------------------------------------------------------ */

/* --- --- -- MOBILE DESIGN -- --- --- */

@media only screen and (max-width: 500px) {
  .header {
    flex-direction: column;
  }

  .Play-section {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .gameMenu {
    width: 340px;
    height: 100px;
    background-color: none;
  }

  .menu--title {
    display: none;
  }

  .menu--score {
    margin: 15px 0 15px 0;
    color: $color-title;
  }

  .btn-start {
    width: 100%;
  }
}

/* ------------------------------------------------------------------------------------------------ */
