/* DECLARACION DE VARIABLES */
:root {
  --rose: #e5707e;
  --turquoise: #94ebcd;
  --purple: #333456;
  --purple-light: #848ccf;
  --grey-light: #dddddd;
  --grey-dark: #495464;
  --yellow: #ffefa1;
  --shadow: 0 0 13px 0 rgba(185, 185, 185, 0.25);
}

* {
  margin: 0;
  font-family: "Akaya Telivigala", cursive;
  outline: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--purple);
}

/* ------------------------------------------------------------------------------------------------ */
/* Barra de titulo */

.header {
  background-color: white;
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  box-shadow: var(--shadow);
}

.header__container--info {
  display: flex;
  width: 90%;
  align-items: center;
  color: var(--purple);
  letter-spacing: 2px;
  /* background-color: lightgreen; */
  justify-content: space-around;
}

.header__container--info-title {
  font-size: 30px;
}

.timer {
  font-size: 25px;
  color: var(--rose);
}

.header__container--info-level {
  color: var(--rose);
  font-size: 25px;
}

/* ------------------------------------------------------------------------------------------------ */
/* Tablero */

.Play-section {
  /* background-color: lightgreen; */
  display: flex;
  width: 70%;
  margin-top: 60px;
  justify-content: space-around;
  align-items: center; 
}

.container--gameboard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-light);
  border-radius: 10px;
}

.gameboard--card {
  display: flex;
  width: 300px;
  height: 370px;
  margin: 20px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  border-radius: 6px;
  padding: 15px;
  box-sizing: border-box;
}

.card-grid {
  display: grid;
  width: 95%;
  height: 80%;
  /* background-color: var(--turquoise); */
  grid-template-columns: repeat(4, 1fr);
}

/* ------------------------------------------------------------------------------------------------ */
/* Controles */

.card-controls {
  display: flex;
  width: 90%;
  height: 50%;
  align-items: center;
  /* background-color: var(--yellow); */
  justify-content: space-around;
}

.card-controls path {
  fill: var(--rose);
}

.card-controls svg {
  width: 60px;
}

.controls-circle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  transform: rotate(-25deg);
  gap: 35px;
}

.controls-circle path {
  fill: var(--purple-light);
}

.controls-circle svg {
  width: 20px;
}


/* ------------------------------------------------------------------------------------------------ */
/* Colores del tablero */

.blue {
  background: #36b5b0;
}

.blue.light {
  background: #45e2dd;
}

.rose {
  background: #ff8ba7;
}

.rose.light {
  background: #fdbccc;
}

.yellow {
  background: #fcdf5f;
}

.yellow.light {
  background: #f1e5ad;
}

.green {
  background: #7fcd91;
}

.green.light {
  background: #9cfab2;
}

/* ------------------------------------------------------------------------------------------------ */
/* MENU */

.gameMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--yellow);
  border-radius: 6px;
  width: 300px;
  height: 370px;
}

.menu--title {
  font-family: 'Train One', cursive;
  font-size: 50px;
  color: var(--purple);
  letter-spacing: 5px;
}

.score__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu--score, #score {
  font-family: 'Train One', cursive;
  color: var(--purple);
  font-size: 25px;
  letter-spacing: 7px;
}

#score {
  font-weight: bold;
  font-size: 35px;
}

.btn-start {
  width: 80%;
  height: 50px;
  background: var(--turquoise);
  color: var(--purple);
  border-radius: 10px;
  font-size: 20px;
  letter-spacing: 7px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-start:hover {
  background: var(--rose);
  color: white;
}

/* ------------------------------------------------------------------------------------------------ */
/* Barra inferior */

.footer {
  display: flex;
  overflow: hidden;
  bottom: 0;
  position: absolute;
  align-items: center;
  justify-content: center;
  color: white;
  height: 40px;
  width: 100%;
  background-color: var(--purple-light);
}

.footer-text {
  display: flex;
  width: 90%;
  align-items: center;
  color: white;
  font-size: 14px;
}

.fab {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  list-style: none;
  text-align: center;
}

.footer-text a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: none;
  color: var(--yellow);
}

/* ------------------------------------------------------------------------------------------------ */
/* RESPONSIVE DESIGN */

@media only screen and (max-width: 1000px) {
  .Play-section {
    width: 80%;
  }
  
}

@media only screen and (max-width: 835px) {

.Play-section {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 20PX;
  height: 600px;
}

.card-grid {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(1, 1fr);
}

.gameMenu {
  width: 340px;
  height: 100px;
  background-color: var(--purple);
}

.menu--title {
  display: none;
}

.score__container {
  flex-direction: row;
  gap: 15px;
}
.menu--score, #score {
  margin: 15px 0 5px 0;
  color: var(--yellow);
  font-size: 20px;
}

.btn-start {
  width: 100%;
}

.footer {
  position: relative;
}

.footer-text {
  justify-content: center;
  align-items: center;
}

}

/* ------------------------------------------------------------------------------------------------ */
/* MOBILE DESIGN */

@media only screen and (max-width: 500px) {

  .header {
    flex-direction: column;
  }

  .Play-section {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .gameMenu {
    width: 340px;
    height: 100px;
    background-color: var(--purple);
  }
  
  .menu--title {
    display: none;
  }
  
  .menu--score {
    margin: 15px 0 5px 0;
    color: var(--yellow);
  }
  
  .btn-start {
    width: 100%;
  }
  
  }